

body {
    background: $lightblue;
} 



#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

#display {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 20%));
}

#song-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:$lightpurple;
    box-shadow: 6px 6px 2px 1px $mediumpurple;
    border: 2px solid $mediumpurple;
    border-radius: 5%;
    margin: 15px 15px;
    
  }

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

#search-field {
    height: 30px;
    width: 40%;
    border-radius: 5px;
    border: 3px solid $lightOrange;
    background-color: $lighterOrange;
    box-shadow: 6px 6px 2px 1px $lightestOrange;
}

#search {
    width: 20%;
    height: 40px;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 1.5vw;
    background-color: $lighterblue;
    border: 1px solid $lightblue;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 6px;
    box-shadow: 6px 6px 2px 1px $lightestblue;


}



h1 {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 80px;
    filter: drop-shadow(0 0 0.75rem crimson);

}

h3 {
    margin: 4px 0;
}

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5vw;
    margin: 4px 0;
  }

  .media-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      min-height: 20px;
      margin: 10px 0;
      font-family: 'Josefin Sans', sans-serif;
      text-align: center;

  }