$lightOrange: #FFCA08;
$lighterOrange: #f5d975;
$lightestOrange: #fbecb5;
$lightblue: rgb(67, 169, 228);
$lighterblue: rgb(126, 187, 223);
$lightestblue: rgb(167, 214, 241);
$lightpurple: rgb(235, 206, 248);
$mediumpurple: rgb(204, 137, 235);